*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
backend/writable/*
backend/public/*
backend/system/*
backend/uploads/*

#codeigniter 3
admin/*
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
backend/app/ThirdParty/
backend//.phpintel/*
backend//.pdf/*
backend/page_control/*
backend/data/*
backend/tests/*
backend/vendor/*
backend/module/mail/ThirdParty/*
