<table border="0" cellpadding="4" cellspacing="6" width="100%">
<tbody>
    <style>
        .caption{
            padding-top: 30px;
            padding-bottom: 30px; 
            text-align: left;    
        }
        
    </style>
    <caption style="padding-top: 30px;padding-bottom: 30px; "><strong>Child Details</strong></caption>
    <tr>
            <td rowspan="4" style="text-align: left;width:0%">
                <img src="{profileImage}" alt="" width="150px" height="150px">
            </td>
    </tr>
 
     <tr>
          
            <td style="width:10%;">Child No / Mk No&nbsp;&nbsp;:</td><td class="medium">{child_no}</td>
         </tr>
         <tr>
            <td>Name:</td><td class="medium">{name}</td>
           
            
         </tr>
         <tr>
            <td>Date of Birth :</td><td class="medium">{dob}</td>
         </tr>
         <tr></tr>
         <tr></tr>
         <tr></tr>
         <tr></tr>

         <tr>
            
           
            <td style="width:20%">Date of Enrollment </td><td class="medium" style="width:40%">: {enrolled_date}</td>
            <td >Gender </td><td class="medium" style="width:30%">: {genderName} </td>
         </tr>
         <tr>
            <td>Home/Projects  </td><td class="medium">: {homeName} </td>
            <td>Religion </td><td class="medium">: {religionName} </td>
         </tr>
         <tr>
            <td>Community </td><td class="medium">:{communityName} </td>
            <td>
               Email ID </td><td class="medium">:{email_id}</td>
         </tr>
         <tr>
         <td>Phone Number </td><td class="medium">: {mobile_no}</td>
            <td>WhatsApp Number </td><td class="medium">:{whatsApp_no}</td>
         </tr>
         <tr>
            <td>Position in family 
            </td><td class="medium">: {position_in_family} </td>
            <td>
                Marital Status </td><td class="medium">: {marital_statusName} </td>
         </tr>
         <tr>
            <td>Spouse Name </td><td class="medium">: {spouse_name} </td>
            <td>Present Status </td><td class="medium">: </td>
         </tr>
         <tr>
            <td>Reason Relive </td><td class="medium">:{reason_relive} </td>
            <td>
                Relived On </td><td class="medium">:</td>
         </tr>
         <tr>
            <td>Died On </td><td class="medium">: {died_on}</td>
            <td>
                Created By </td><td class="medium">:{created_by}</td>
         </tr>
         <tr>
            <td>Created On </td><td class="medium">:</td>
            <td>
                Last Modified </td><td class="medium">:</td>
         </tr>
         <tr>
            <td>Last Modified By</td><td class="medium">:{last_modify_byName}</td>
            <td>Approved By</td><td class="medium">: {last_approved_byName} </td>
         </tr>

</tbody>
</table>


<table border="0" cellpadding="4" cellspacing="6" width="100%">
    <tbody>
        <style>
            .caption{
                padding-top: 30px;
                padding-bottom: 30px; 
                text-align: left;    
            }
            
        </style>
         <caption style="padding-top: 30px;padding-bottom: 30px; text-align: left;"><strong>Parent Detail</strong></caption>
     
             <tr>
                 <td style="width:20%">Name </td><td class="medium" style="width:40%">:{name}</td>
                <td >Parent Type </td><td class="medium" style="width:30%">: {parent_typeName}</td>
             </tr>
             <tr>
                <td>Gender  </td><td class="medium">:{genderName} </td>
                <td>Occupation </td><td class="medium">:{occupation} </td>
             </tr>
             <tr>
                <td>Email ID</td><td class="medium">:{email_id} </td>
                <td>
                    Mobile No</td><td class="medium">:{mobile_no} </td>
             </tr>
             <tr>
                <td>Actions </td><td class="medium">: </td>
                <td>Region</td><td class="medium">:{regionName}</td>
             </tr>
             <tr>
                <td>Zone
                </td><td class="medium">:{zoneName} </td>
                <td>
                    Department</td><td class="medium">:</td>
             </tr>
             <tr>
                <td>Date of Birth</td><td class="medium">: </td>
                <td>Branch</td><td class="medium">: {branchName}</td>
             </tr>
             <tr>
                <td>MS Office  </td><td class="medium">: {adName}</td>
                <td>
                    Active From </td><td class="medium">:</td>
             </tr>
       </tbody>
    </table>
  

<table border="0" cellpadding="4" cellspacing="6" width="100%">
    <tbody>
        <style>
            .caption{
                padding-top: 30px;
                padding-bottom: 30px; 
                text-align: left;    
            }
            
        </style>
         <caption style="padding-top: 30px;padding-bottom: 30px; text-align: left;"><strong>Parents</strong></caption>
            <parents>
             <tr>
                 <td style="width:20%">Name </td><td class="medium" style="width:40%">:{name}</td>
                <td >Parent Type </td><td class="medium" style="width:30%">: {parent_typeName}</td>
             </tr>
             <tr>
                <td>Gender  </td><td class="medium">:{genderName} </td>
                <td>Occupation </td><td class="medium">:{occupation} </td>
             </tr>
             <tr>
                <td>Email ID</td><td class="medium">:{email_id} </td>
                <td>
                    Mobile No</td><td class="medium">:{mobile_no} </td>
             </tr>
             <tr>
                <td>Actions </td><td class="medium">: </td>
                <td>Region</td><td class="medium">:</td>
             </tr>
             <tr>
                <td>Zone
                </td><td class="medium">:{zoneName} </td>
                <td>
                    Department</td><td class="medium">:</td>
             </tr>
             <tr>
                <td>Date of Birth</td><td class="medium">: </td>
                <td>Branch</td><td class="medium">: {branchName}</td>
             </tr>
             <tr>
                <td>MS Office  </td><td class="medium">: </td>
                <td>
                    Active From </td><td class="medium">:</td>
             </tr>
         </parents>
       </tbody>
    </table>
  

<table border="0" cellpadding="4" cellspacing="6" width="100%">
    <tbody>
        <caption style="padding-top: 30px;padding-bottom: 30px; text-align: left;"><strong>Sibling</strong></caption>

       <sibiling>
        <tr>
            <td style="width:20%">Name </td><td class="medium" style="width:40%">:{name}</td>
           <td >Gender </td><td class="medium" style="width:30%">:{genderName} </td>
        </tr>
        <tr>
           <td>  Date of Birth</td><td class="medium">: {dob}</td>
           <td>WhatsApp No  </td><td class="medium">:{whatsApp_no} </td>
        </tr>
        <tr>
           <td>Email ID</td><td class="medium">:{email_id} </td>
           <td>
               Mobile No</td><td class="medium">:{mobile_no} </td>
        </tr>
        <tr>
           <td>Marital Status </td><td class="medium">:{marital_statusName} </td>
           <td>Spouse Name</td><td class="medium">:{spouse_name}</td>
        </tr>
        <tr>
           <td>Position in family
           </td><td class="medium">:{position_in_family} </td>
           <td>
            Current Status</td><td class="medium">:{child_statusName}</td>
        </tr>
        <tr>
           <td>Income in monthly </td><td class="medium">: </td>
           <td>
            Died On</td><td class="medium">: </td>
        </tr>
        <tr>
           <td>Stayed In </td><td class="medium">:{stayed_categoryName} </td>
           <td>Remarks</td><td class="medium">:</td>
        </tr>
    </sibiling>
    </tbody>
</table>
<table border="0" cellpadding="4" cellspacing="6" width="100%">
    <tbody>
       <caption style="padding-top: 30px;padding-bottom: 30px; text-align: left;"><strong> Education</strong></caption>
       <education>
       <tr>
        <td style="width:20%">School/Institution Name </td><td class="medium" style="width:40%">:{institution_name}</td>
       <td >Class/Course </td><td class="medium" style="width:30%">:{course_name} </td>
    </tr>
    <tr>
       <td>  Course Year</td><td class="medium">: </td>
       <td>To Date  </td><td class="medium">:{to_date} </td>
    </tr>
    <tr>
       <td>Course Status</td><td class="medium">:{course_status} </td>
       <td>
        Actions</td><td class="medium">: </td>
    </tr>
</education>
     </tbody>
</table>
<table border="0" cellpadding="4" cellspacing="6" width="100%">
    <tbody>
        <caption style="padding-top: 30px;padding-bottom: 30px; text-align: left;"><strong> Others</strong></caption>
        <tr>
            <td style="width:20%">Blood Group </td><td class="medium" style="width:40%">:{blood_groupName}</td>
           <td >Brief History  </td><td class="medium" style="width:30%">:{brief_history} </td>
        </tr>
        <tr>
           <td>Hobbies</td><td class="medium">:{hobbies}</td>
           <td>Comment </td><td class="medium">:{comments}</td>
        </tr>
        <tr>
           <td>Aadhar Doc</td><td class="medium">
                <img src="{profileImage}" alt="" width="150px" height="150px">
            </td>
            <td>Family Doc</td><td class="medium">
                <img src="{familyImage}" alt="" width="150px" height="150px">
            </td>
        </tr>
        <tr>
           <td>Birth Doc</td><td class="medium">
                <img src="{birthImage}" alt="" width="150px" height="150px">
            </td>
            <td>Others Doc</td><td class="medium">
                <img src="{othersImage}" alt="" width="150px" height="150px">
            </td>
        </tr>
    </tbody>
</table>