<table cellpadding="4" cellspacing="6" width="100%">
   <tbody>
       <style>
           .caption{
               padding-top: 30px;
               padding-bottom: 30px; 
               text-align: left;    
           }
           </style>
       <caption style="padding-top: 30px;padding-bottom: 30px; text-align: left;"><strong>Staff Details</strong></caption>
       <tr >
           
               <td rowspan="4" style="text-align: left;width:0%"><img src="" alt="" width="100" height="100"></td>
              
    </tr>
      
        <tr>
             
               <td style="width:10%;">Name&nbsp;&nbsp;:</td><td class="medium">:{name}</td>
            </tr>
            <tr>
               <td>Designation Name&nbsp;:</td><td class="medium">:{deName}</td>
              
               
            </tr>
            <tr>
               <td>Email Id &nbsp;&nbsp;:</td><td class="medium">:{email_id}</td>
            
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
   
            <tr>
               
              
               <td style="width:20%">Name in Certificate </td><td class="medium" style="width:40%">:{name_cert}</td>
               <td >Father's Name </td><td class="medium" style="width:30%">:{father_name} </td>
            </tr>
            <tr>
               <td>Gender  </td><td class="medium">:{genderName} </td>
               <td>Date of Birth </td><td class="medium">:{dob} </td>
            </tr>
            <tr>
               <td>Age  </td><td class="medium">:{age} </td>
               <td>
                  
   Marital Status </td><td class="medium">:{marital_statusName} </td>
            </tr>
            <tr>
               <td>Date Of Marriage </td><td class="medium">:{do_marraige} </td>
               <td>Date of Baptism </td><td class="medium">:{do_bap}</td>
            </tr>
            <tr>
               <td>Date of Salvation  
               </td><td class="medium">:{do_salvation} </td>
               <td>
                  
   Date of Joining </td><td class="medium">:{do_join}</td>
            </tr>
            <tr>
               <td>Years Of Experience </td><td class="medium">: </td>
               <td>
                  Cross Ref No  </td><td class="medium">:{prev_cross_ref} </td>
            </tr>
            <tr>
               <td>Is Cross Culture </td><td class="medium">:{is_cross_culture} </td>
               <td>
                   
   Origin State</td><td class="medium">:{origin_state_id}</td>
            </tr>
            <tr>
               <td>Native Distance</td><td class="medium">:</td>
               <td>
                  Alt Mobile </td><td class="medium">:{alt_mobile_no}</td>
            </tr>
             <tr>
               <td>Created On </td><td class="medium">:</td>
               <td>
                   Last Modified </td><td class="medium">:</td>
            </tr>
            <tr>
               <td>Last Modified By</td><td class="medium">:{last_modify_byName}</td>
               <td>Approved By</td><td class="medium">:{last_approved_byName} </td>
            </tr> 
      </tbody>
   </table>
   <table border="0" cellpadding="4" cellspacing="6" width="100%">
      <tbody>
         <caption style="padding-top: 30px;padding-bottom: 30px; text-align: left;"><strong> Education</strong></caption>
   <education>
         <tr>
          <td style="width:20%">School/Institution Name</td><td class="medium" style="width:40%">:{institution_name}</td>
         <td >Class/Course </td><td class="medium" style="width:30%">:{course_name} </td>
      </tr>
      <tr>
         <td> Branch / Division</td><td class="medium">:{branch} </td>
         <td>Course Category   </td><td class="medium">:{category} </td>
      </tr>
      <tr>
         <td>Lang/Medium</td><td class="medium">:{lang_mediumName} </td>
         <td>
          
   Percentage </td><td class="medium">:{mark_percentage_groupName} </td>
      </tr>
      <tr>
        <td> From Date </td><td class="medium">:{from_date} </td>
        <td>
           To Date   </td><td class="medium">:{to_date} </td>
     </tr>
     <tr>
        <td>Course Status </td><td class="medium">:{course_status} </td>
        <td>
           Document </td><td class="medium">: </td>
     </tr>
    </education> 
       </tbody>
   </table>
   
   <table border="0" cellpadding="4" cellspacing="6" width="100%">
      <tbody>
          <caption style="padding-top: 30px;padding-bottom: 30px; text-align: left;"><strong> 	Training</strong></caption>
   <training>
          <tr>
              <td style="width:20%">Training Name </td><td class="medium" style="width:40%">:{training_name}</td>
             <td >Description  </td><td class="medium" style="width:30%">:{description} </td>
          </tr>
          <tr>
             <td>  From Date </td><td class="medium">:{from_date} </td>
             <td>To Date  </td><td class="medium">:{from_date} </td>
          </tr>
          <tr>
             <td> Document</td><td class="medium">: </td>
             </tr>
   </training>
          
      </tbody>
   </table>
   <table border="0" cellpadding="4" cellspacing="6" width="100%">
      <tbody>
          <caption style="padding-top: 30px;padding-bottom: 30px; text-align: left;"><strong> 	Experience</strong></caption>
   
          <tr>
              <td style="width:20%">Institution Name </td><td class="medium" style="width:40%">:</td>
             <td >Designation  </td><td class="medium" style="width:30%">: </td>
          </tr>
          <tr>
             <td>  From Date </td><td class="medium">: </td>
             <td>To Date  </td><td class="medium">: </td>
          </tr>
          <tr>
            <td> Place </td><td class="medium">: </td>
            <td>
               Remarks </td><td class="medium">: </td>
         </tr>
          <tr>
             <td> Document</td><td class="medium">: </td>
            </tr>
      </tbody>
   </table>
   <table border="0" cellpadding="4" cellspacing="6" width="100%">
      <tbody>
          <caption style="padding-top: 30px;padding-bottom: 30px; text-align: left;"><strong>GEMS Experience Details</strong></caption>
         <expGems>
          <tr>
              <td style="width:20%">Region Name </td><td class="medium" style="width:40%">:{regionName}</td>
             <td >Zone Name </td><td class="medium" style="width:30%">:{zoneName} </td>
          </tr>
          <tr>
             <td>Field Name</td><td class="medium">:{fieldName} </td>
             <td>Church Name  </td><td class="medium">:{church_name} </td>
          </tr>
          <tr>
             <td>MS Name</td><td class="medium">: </td>
             <td>
               Department Name</td><td class="medium">:{dName} </td>
          </tr>
          <tr>
             <td>Branch Name </td><td class="medium">:{branchName} </td>
             <td>Designation Name</td><td class="medium">:{deName}</td>
          </tr>
          <tr>
             <td>Establishment Name
             </td><td class="medium">: </td>
             <td>
               Home/projects</td><td class="medium">:{home}</td>
          </tr>
          <tr>
             <td>From Date </td><td class="medium">:{from_date} </td>
             <td>
              To Date</td><td class="medium">:{to_date} </td>
          </tr>
          <tr>
             <td>Document </td><td class="medium">:{document} </td>
             <td>
                 
   Remarks</td><td class="medium">:{remarks}</td>
          </tr>
    </expGems>
      </tbody>
   </table>
   
   
   <table border="0" cellpadding="4" cellspacing="6" width="100%">
       <tbody>
           <style>
               .caption{
                   padding-top: 30px;
                   padding-bottom: 30px; 
                   text-align: left;    
               }
               
           </style>
            <caption style="padding-top: 30px;padding-bottom: 30px; text-align: left;"><strong>Parent Detail</strong></caption>
        
                <tr>
                    <td style="width:20%">Name </td><td class="medium" style="width:40%">:</td>
                   <td >Parent Type </td><td class="medium" style="width:30%">: </td>
                </tr>
                <tr>
                   <td>Gender  </td><td class="medium">: </td>
                   <td>Occupation </td><td class="medium">: </td>
                </tr>
                <tr>
                   <td>Email ID</td><td class="medium">: </td>
                   <td>
                       Mobile No</td><td class="medium">: </td>
                </tr>
                <tr>
                   <td>Actions </td><td class="medium">: </td>
                   <td>Region</td><td class="medium">:</td>
                </tr>
                <tr>
                   <td>Zone
                   </td><td class="medium">: </td>
                   <td>
                       Department</td><td class="medium">:</td>
                </tr>
                <tr>
                   <td>Date of Birth</td><td class="medium">: </td>
                   <td>Branch</td><td class="medium">: </td>
                </tr>
                <tr>
                   <td>MS Office  </td><td class="medium">: </td>
                   <td>
                       Active From </td><td class="medium">:</td>
                </tr>
          </tbody>
      </table>
   
   <table border="0" cellpadding="4" cellspacing="6" width="100%">
       <tbody>
           <caption style="padding-top: 30px;padding-bottom: 30px; text-align: left;"><strong>Sibling</strong></caption>
   
          
           <tr>
               <td style="width:20%">Name </td><td class="medium" style="width:40%">:</td>
              <td >Gender </td><td class="medium" style="width:30%">: </td>
           </tr>
           <tr>
              <td>  Date of Birth</td><td class="medium">: </td>
              <td>WhatsApp No  </td><td class="medium">: </td>
           </tr>
           <tr>
              <td>Email ID</td><td class="medium">: </td>
              <td>
                  Mobile No</td><td class="medium">: </td>
           </tr>
           <tr>
              <td>Marital Status </td><td class="medium">: </td>
              <td>Spouse Name</td><td class="medium">:</td>
           </tr>
           <tr>
              <td>Position in family
              </td><td class="medium">: </td>
              <td>
               Current Status</td><td class="medium">:</td>
           </tr>
           <tr>
              <td>Income in monthly </td><td class="medium">: </td>
              <td>
               Died On</td><td class="medium">: </td>
           </tr>
           <tr>
              <td>Stayed In </td><td class="medium">: </td>
              <td>
                  
   Remarks</td><td class="medium">:</td>
           </tr>
       </tbody>
   </table> 
   
   <table border="0" cellpadding="4" cellspacing="6" width="100%">
       <tbody>
         
           <caption style="padding-top: 30px;padding-bottom: 30px; text-align: left;"><strong> Bank Details</strong></caption>
           <others>
           <tr>
            <td>  Bank Name</td><td class="medium">:{bank_name} </td>
            <td>Branch Name </td><td class="medium">:{branch_name} </td>
         </tr>
         <tr>
            <td>  Account Number</td><td class="medium">:{account_number} </td>
            <td>Account Name </td><td class="medium">:{account_name} </td>
         </tr>
         <tr>
            <td> IFSC Code </td><td class="medium">:{ifc_code} </td>
            <td>
              
               UPI</td><td class="medium">:{upi} </td>
         </tr>
           <tr>
               <td style="width:20%">Blood Group </td><td class="medium" style="width:40%">:{blood_groupName}</td>
              <td >Do You Have Any Chronic Illness ?  </td><td class="medium" style="width:30%">:{chronical} </td>
           </tr>
           <tr>
              <td>  Specify</td><td class="medium">: </td>
              <td>Dedication Status ? </td><td class="medium">:{dedication_status} </td>
           </tr>
           <tr>
              <td> Description</td><td class="medium">: </td>
              <td>
               Dedication Date</td><td class="medium">:{dedication_date} </td>
           </tr>
   
        <tr>
         <td> <strong> Medical Details</strong></td>
        </tr>
            <td> GESHA ID</td><td class="medium">:{gsha} </td>
            <td>MUT ID </td><td class="medium">:{mut} </td>
         </tr>
         <tr>
            <td>  Comments</td><td class="medium">:{coments3} </td>
            
         </tr>
         <tr>
            <td> <strong> Identity Details</strong></td>
           </tr>
          <tr>
              <td>Aadhaar Number</td><td class="medium">
                   <img src="{aadhar_document}" alt="" width="150px" height="150px">
               </td>
               <td>Pan Number </td><td class="medium">
                   <img src="{pan_document}" alt="" width="150px" height="150px">
               </td>
           </tr>
           <tr>
              <td>Bank Document</td><td class="medium">
                   <img src="{bank_document}" alt="" width="150px" height="150px">
               </td>
               <td>Others Document</td><td class="medium">
                   <img src="{others_document}" alt="" width="150px" height="150px">
               </td>
           </tr>
   
       </others>     
      </tbody>
   
   </table>   